{% extends 'base.twig' %}

{% block content %}
	<form class="col-5 mx-auto p3 mt4 border rounded bg-white" action="{{ f_account_path }}" method="post">
		<h3 class="mt0 mb3">Account - Passwort ändern</h3>

		{% if password_reset_error == 1 %}
			<div class="bold center p2 mb3 white bg-red rounded">Ihr altes Passwort ist leider nicht korrekt.</div>
		{% elseif password_reset_error == 2 %}
			<div class="bold center p2 mb3 white bg-red rounded">Bitte füllen Sie alle Felder aus!</div>
		{% elseif password_reset_error == 4 %}
			<div class="bold center p2 mb3 white bg-red rounded">Die Wiederholung stimmt nicht mit Ihrem neuen Passwort überein!</div>
		{% endif %}

		<div class="clearfix">

			<div class="mb2">
				<label class="block mb1" for="password_old">Altes Passwort</label>
				<input class="field-light full-width" id="password_old" type="password" name="{{ f_password_reset_old }}">
			</div>

			<div class="mb2">
				<label class="block mb1" for="password_new">Neues Passwort</label>
				<input class="field-light full-width" id="password_new" type="password" name="{{ f_password_reset_new }}">
			</div>

			<div class="mb2">
				<label class="block mb1" for="password_repeat">Neues Passwort wiederholen</label>
				<input class="field-light full-width" id="password_repeat" type="password" name="{{ f_password_reset_repeat }}">
			</div>

			<div class="mt3">
				<button class="button" type="submit" name="{{ f_password_reset_submit }}" value="true">Passwort ändern</button>
				<a class="button bg-gray" href="{{ f_home_path }}">Zurück</a>
			</div>
		</div>
	</form>
{% endblock %}
