<div class="tooltip clearfix p2 border rounded mb2 bg-white">

	<div class="col col-11 clearfix" style="margin-top: .45rem;">
		<div class="col col-12 md-col-4">
			{{ call.forname }} {{ call.lastname }}
			{% if call.phone %}<span class="gray">({{ call.phone }})</span>{% endif %}
		</div>
		<div class="col col-12 md-col-8 gray">
			{{ call.date_short }}: {{ call.subject }}...
			{% for assignee in call.assigned %}
				<div class="right inline-block ml1 h5 white center bg-{{ assignee.color }} circle" style="width: 32px; height: 32px;">
					<span style="line-height: 32px;">{{ assignee.initials }}</span>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="col-right col-1 right-align">
		{% block actions %}{% endblock %}
	</div>

	<div class="tooltip-content-wrapper">
		<div class="tooltip-content">
			<b>Erstellt:</b> {{ call.date }} von {{ call.creator.fullname }}

			{% if call.notes %}
				<br>
				<b>Bemerkung:</b> {{ call.notes }}
			{% endif %}

			{% if call.assigned %}
				<br>
				<b>Für:</b>
				{% for assignee in call.assigned %}
					{{ assignee.fullname }}{% if not loop.last %},{% endif %}
				{% endfor %}
			{% endif %}
		</div>
	</div>

</div>
