{% extends 'base.twig' %}

{% block head %}
	<style>
		.mdl-modal {
			position: absolute;
			top: 50%;
			right: 50%;
			left: 50%;
			z-index: 2000;
			width: 90%;
			max-width: 650px;
			visibility: hidden;
			-webkit-transform: translateX(-50%) translateY(-50%);
			-ms-transform:     translateX(-50%) translateY(-50%);
			transform:         translateX(-50%) translateY(-50%);
		}

		.mdl-modal.mdl-show {
			visibility: visible;
		}

		.mdl-overlay {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1000;
			background: rgba(0,0,0,0.5);
			visibility: hidden;
			opacity: 0;
			-webkit-transition: all .6s;
			transition: all .6s;
		}

		.mdl-show ~ .mdl-overlay {
			visibility: visible;
			opacity: 1;
		}

		.mdl-box {
			position: relative;
			border-radius: 5px;
			overflow: hidden;
			opacity: 0;
			-webkit-transform: scale(0.7);
			-ms-transform:     scale(0.7);
			transform:         scale(0.7);
			-webkit-transition: all .6s;
			transition: all .6s;
		}

		.mdl-modal.mdl-show > .mdl-box {
			opacity: 1;
			-webkit-transform: scale(1);
			-ms-transform:     scale(1);
			transform:         scale(1);
		}

	</style>
{% endblock %}

{% block foot %}

	<script>

		var modal = document.getElementById('new-call-modal');

		function toggleModal() {
			modal.classList.toggle('mdl-show');
		}

		function hideModal() {
			modal.classList.remove('mdl-show');
		}

		document.getElementById('new-call').onclick = function() { toggleModal(); };
		document.getElementById('overlay').onclick  = function() { hideModal(); };
		document.getElementById('cancel').onclick   = function() { hideModal(); };

	</script>

{% endblock %}

{% block content %}

	<header class="clearfix p2 white mb3" style="background-color: #e9399b;">
		<h1 class="col h3 m0" style="margin-top: .3rem;">Bakir Immobilien Anrufe</h1>
		<nav class="col-right">
			<form action="{{ f_home_path }}" method="post">
				<button class="button button-narrow" style="background: none;" name={{ f_logout_submit }} value=True type="submit">{{ user_name }} abmelden</button>
			</form>
			<a class="button button-narrow mr2" style="background: none;" href="{{ f_account_path }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 768" style="width: 25px; vertical-align: middle;"><path d="M897 454.6V313.4L810.4 299c-6.4-23.3-16-45.7-27.3-65.8l50.5-71.4-99.4-100.2-71.4 50.5c-20.9-11.2-42.5-20.9-65.8-27.3L582.6-1H441.4L427 85.6c-23.3 6.4-45.7 16-65.8 27.3l-71.4-50.5-100.3 99.5 50.5 71.4c-11.2 20.9-20.9 42.5-27.3 66.6L127 313.4v141.2l85.8 14.4c6.4 23.3 16 45.7 27.3 66.6L189.6 607l99.5 99.5 71.4-50.5c20.9 11.2 42.5 20.9 66.6 27.3l14.4 85.8h141.2l14.4-86.6c23.3-6.4 45.7-16 65.8-27.3l71.4 50.5 99.5-99.5-50.5-71.4c11.2-20.9 20.9-42.5 27.3-66.6l86.4-13.6zm-385 77c-81.8 0-147.6-66.6-147.6-147.6 0-81.8 66.6-147.6 147.6-147.6S659.6 302.2 659.6 384 593.8 531.6 512 531.6z" fill="#fff"/></a>
			<button class="button bg-white" id="new-call" style="color: #e9399b;">Neuer Anruf</button>
		</nav>
	</header>

	<div class="container">
		{% for call in calls_undone %}
			<div class="clearfix p2 border rounded mb2 bg-white {% if user_id in call.personen %}bg-silver{% endif %}">
				<div class="col col-11 clearfix" style="margin-top: .45rem;">
					<div class="col col-12 md-col-4">{{ call.vorname }} {{ call.nachname }}
						<span class="gray">({{ call.telefon }})</span>
					</div>
					<div class="col col-12 md-col-7 gray">{{ call.datum }}: {{ call.betreff }}...</div>
				</div>

				<div class="col-right col-1 right-align">
					{% if user_id in call.personen %}
						<form action="{{ f_home_path }}" method="post">
							<input type="hidden" name="{{ f_call_done_id }}" value="{{ call.id }}">
							<button class="button bg-white gray" name="{{ f_call_done_submit }}" value=True type="submit">✓</button>
						</form>
					{% endif %}
				</div>
			</div>
		{% endfor %}

		{% for call in calls_done %}
			<div class="clearfix p2 border rounded mb2 bg-white {% if user_id in call.personen %}bg-silver{% endif %}">

				<div class="col col-11 clearfix" style="margin-top: .45rem;">
					<div class="col col-12 md-col-4">{{ call.vorname }} {{ call.nachname }}
						<span class="gray">({{ call.telefon }})</span>
					</div>
					<div class="col col-12 md-col-7 gray">{{ call.datum }}: {{ call.betreff }}...</div>
				</div>

				<div class="col-right col-1 right-align">
					{% if user_id in call.personen %}
						<form action="{{ f_home_path }}" method="post">
							<input type="hidden" name="{{ f_call_undo_id }}" value="{{ call.id }}">
							<button class="button bg-white gray" name="{{ f_call_undo_submit }}" value=True type="submit">↺</button>
						</form>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="mdl-modal" id="new-call-modal">
		<form class="p3 border rounded bg-white mdl-box" action="{{ f_home_path }}" method="post">

			<h3 class="mt0 mb2">Neuer Anruf</h3>

			<div class="clearfix mxn1 mb1">
				<div class="col col-4 p1">
					<label class="block mb1" for="contact_forname">Vorname</label>
					<input class="block full-width field-light" name="{{ f_call_new_forename }}" id="contact_forname" type="text">
				</div>
				<div class="col col-4 p1">
					<label class="block mb1" for="contact_lastname">Nachname</label>
					<input class="block full-width field-light" name="{{ f_call_new_lastname }}" id="contact_lastname" type="text">
				</div>
				<div class="col col-4 p1">
					<label class="block mb1" for="contact_phone">Telefonnummer</label>
					<input class="block full-width field-light" name="{{ f_call_new_phone }}" id="contact_phone" type="text">
				</div>
			</div>

			<div class="clearfix mxn1 mb1">
				<div class="col col-6 p1">
					<label class="block mb1" for="subject">Betreff</label>
					<input class="block full-width field-light mb2" name="{{ f_call_new_subject }}" id="subject" type="text">

					<label class="block mb1" for="notes">Bemerkungen</label>
					<textarea class="full-width field-light"  name="{{ f_call_new_notes }}" style="resize: vertical;" id="notes" type="text"></textarea>
				</div>

				<div class="col col-6 p1">
					<label class="block mb1">Anruf für</label>

					<div class="clearfix">
						{% for user in users %}
							<div class="col col-6 mb1">
								<input id="user_{{ user.id }}" name="{{ f_call_new_assignments }}[]" type="checkbox" value="{{ user.id }}">
								<label for="user_{{ user.id }}">{{ user.name }}</label>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="mt2">
				<button class="button" name={{ f_call_new_submit }} value=True type="submit">Fertig</button>
				<button class="button bg-gray" id="cancel" type="button">Abbrechen</button>
			</div>

		</form>
	</div>

	<div id="overlay" class="mdl-overlay"></div>

{% endblock %}
