{% extends 'base.twig' %}

{% block content %}

	<header class="clearfix p2 white mb3" style="background-color: #e9399b;">
		<h1 class="col h3 m0" style="margin-top: .3rem;">Bakir Immobilien Anrufe</h1>
		<nav class="col-right">
			<a class="button" style="background: none;" href="?logout=True">{{ user_name }} abmelden</a>
			<a class="button bg-white" style="color: #e9399b;" href="?newcall=True">Neuer Anruf</a>
		</nav>
	</header>

	<div class="container">
		{% for call in calls_undone %}
			<div class="clearfix p2 border rounded mb2 bg-white {% if user_id in call['personen'] %}bg-silver{% endif %}">
				<div class="col col-11 clearfix" style="margin-top: .45rem;">
					<div class="col col-12 md-col-4">{{ call['vorname'] }} {{ call['nachname'] }}
						<span class="gray">({{ call['telefon'] }})</span>
					</div>
					<div class="col col-12 md-col-7 gray">{{ call['datum'] }}: {{ call['betreff'] }}...</div>
				</div>

				<div class="col-right col-1 right-align">
					{% if user_id in call['personen'] %}
						<form action="{{ done_path }}" method="post">
							<button class="button bg-white gray" name="done_id" value="{{ call['id'] }}" type="submit">✓</button>
						</form>
					{% endif %}
				</div>
			</div>
		{% endfor %}

		{% for call in calls_done %}
			<div class="clearfix p2 border rounded mb2 bg-white {% if user_id in call['personen'] %}bg-silver{% endif %}">

				<div class="col col-11 clearfix" style="margin-top: .45rem;">
					<div class="col col-12 md-col-4">{{ call['vorname'] }} {{ call['nachname'] }}
						<span class="gray">({{ call['telefon'] }})</span>
					</div>
					<div class="col col-12 md-col-7 gray">{{ call['datum'] }}: {{ call['betreff'] }}...</div>
				</div>

				<div class="col-right col-1 right-align">
					{% if user_id in call['personen'] %}
						<form action="{{ undo_path }}" method="post">
							<button class="button bg-white gray" name="undo_id" value="{{ call['id'] }}" type="submit">↺</button>
						</form>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="container">
		<div class="sm-col-8 mx-auto p3 border rounded bg-white">

			<h3 class="mt0 mb3">Neuer Anruf</h3>

			<form class="mb2" action="{{ form_path }}" method="post">

				<div class="clearfix mxn1 mb1">
					<div class="col col-4 p1">
						<label class="block" for="contact_forname">Vorname</label>
						<input class="block full-width field-light" name="{{ form_forename }}" id="contact_forname" type="text">
					</div>
					<div class="col col-4 p1">
						<label class="block" for="contact_lastname">Nachname</label>
						<input class="block full-width field-light" name="{{ form_lastname }}" id="contact_lastname" type="text">
					</div>
					<div class="col col-4 p1">
						<label class="block" for="contact_phone">Telefonnummer</label>
						<input class="block full-width field-light" name="{{ form_phone }}" id="contact_phone" type="text">
					</div>
				</div>

				<div class="clearfix mxn1 mb1">
					<div class="col col-6 p1">
						<label class="block" for="subject">Betreff</label>
						<input class="block full-width field-light" name="{{ form_subject }}" id="subject" type="text">
					</div>
					<div class="col col-6 p1">
						<label class="block" for="notes">Anruf für</label>
						{% for user in users_id %}
							<input class="block mb1 field-light" name="assignments[]" type="checkbox" value="{{ user[0] }}">{{ user[1] }}
						{% endfor %}
					</div>
				</div>

				<div class="col-8 mb1">
					<label class="block" for="notes">Bemerkungen</label>
					<textarea class="full-width field-light"  name="{{ form_notes }}" style="resize: vertical;" id="notes" type="text"></textarea>
				</div>

				<div class="mt3">
					<button class="button" type="submit">Fertig</button>
					<button class="button bg-gray" href="#">Abbrechen</button>
				</div>

			</form>
		</div>
	</div>

{% endblock %}
