{% extends 'base.twig' %}

{% block content %}


	<div class="container mt4">
		<div class="col-8 sm-col-6 md-col-5 lg-col-4 mx-auto p3 border rounded bg-white">

			{% if login_error == 0 %}

				<p class="center mb3">Wilkommen zur Bakir Immobilien Anruf Liste, bitte melden Sie sich an.</p>

			{% elseif login_error == 1 %}

				<p class="container center p2 mb2 bg-yellow rounded">
					<strong>Fehler!</strong> Der Benutzername und das Passwort scheinen nicht zu stimmen, bitte versuchen Sie es erneut.
				</p>

			{% elseif login_error == 2 %}

				<p class="container center p2 mb2 bg-yellow rounded">
					<strong>Fehler!</strong> Bitte füllen Sie alle Felder aus!
				</p>

			{% endif %}

			<form action="{{ f_login_path }}" method="post">
				<div class="mb2">
					<label for="username">Benutzername</label>
					<input class="field-light full-width" id="username" type="text" name="{{ f_login_user }}" value="{{ f_fields_login.username }}">
				</div>

				<div class="mb1">
					<label for="password">Passwort</label>
					<input class="field-light full-width" id="password" type="password" name="{{ f_login_password }}">
				</div>

				<div class="clearfix">
					<div class="sm-col sm-col-8 mt2">
						<input id="keeplog" type="checkbox" name="{{ f_login_keeplog }}" value="on" checked>
						<label for="keeplog">Angemeldet bleiben</label>
					</div>
					<div class="sm-col sm-col-4 mt2 clearfix">
						<button class="sm-col-right button" type="submit" name="{{ f_login_submit }}">Anmelden</button>
					</div>
				</div>
			</form>

		</div>
	</div>

{% endblock %}
