{% extends 'base.twig' %}

{% block content %}

	<div class="col-5 mx-auto p3 mt4 bg-white">
		<p class="center">Wilkommen zur Bakir Immobilien Anruf Liste. Bitte melden Sie sich an.</p>
		
		{% if login_error == 1 %}
			<div class="bold center p2 mb3 white bg-red rounded">Leider konnten Sie nicht angemeldet werden.</div>
		{% elseif login_error == 2 %}
			<div class="bold center p2 mb3 white bg-red rounded">Bitte füllen Sie alle Felder aus!</div>
		{% endif %}
		
		<div class="clearfix mt4">

			<form action="{{ f_login_path }}" method="post">
				<div class="mb2">
					<label for="username">Benutzername</label>
					<input class="field-light full-width" id="username" type="text" name="{{ f_login_user }}">
				</div>
				<div class="mb2">
					<label for="password">Passwort</label>
					<input class="field-light full-width" id="password" type="password" name="{{ f_login_password }}">
				</div>
				<input type="checkbox" name="{{ f_login_keeplog }}" value="on"> Angemeldet bleiben? </input>
				<button class="col-right bg-blue white" type="submit" name={{ f_login_submit }} value=True>Anmelden</button>
			</form>

		</div>
	</div>

{% endblock %}
