{% extends 'base.twig' %}

{% block content %}

	<div class="container mt4">
		<div class="col-8 sm-col-6 md-col-5 lg-col-4 mx-auto p3 border rounded bg-white">
			<p class="center mb3">Wilkommen zur Bakir Immobilien Anruf Liste, bitte melden Sie sich an.</p>

			<form action="{{ f_login_path }}" method="post">
				<div class="mb2">
					<label for="username">Benutzername</label>
					<input class="field-light full-width" id="username" type="text" name="{{ f_login_user }}">
				</div>

				<div class="mb1">
					<label for="password">Passwort</label>
					<input class="field-light full-width" id="password" type="password" name="{{ f_login_password }}">
				</div>

				<div class="clearfix">
					<div class="sm-col sm-col-8 mt2">
						<input id="keeplog" type="checkbox" name="{{ f_login_keeplog }}" value="on" checked>
						<label for="keeplog">Angemeldet bleiben</label>
					</div>
					<div class="sm-col sm-col-4 mt2 clearfix">
						<button class="sm-col-right button" type="submit" name="{{ f_login_submit }}">Anmelden</button>
					</div>
				</div>
			</form>

		</div>
	</div>

{% endblock %}
